# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.yarn/
.pnp/
.pnp.js
.pnp.cjs
.pnp.mjs

# Build artifacts
dist/
build/
coverage/
*.tgz

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs
logs/
*.log

# Test files
*.spec.js
*.test.js

# Other
temp/
tmp/